.centerWrapper {
    display:flex;
    width:100%;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
.centerWrapper h3{
    margin-left:auto;
    margin-right:auto;
}
.centerWrapper img{
    margin-left:auto;
    margin-right:auto;
}